*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --container_width: 95%;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(160, 0%, 90%);
}

.page_container{
    width: 80%;
    height: 63%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
}

.page_container > .left_container, .right_container{
    height: 100%;
    flex: 1 1 50%;
    padding: 30px 10px;
    
}

.page_container > .left_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column; 
    gap: 40px;  
}

.page_container > .left_container > h1, .page_container > .left_container > p{
    text-align: center;
    width: 100%;
    color: black;
}

.page_container > .left_container > h1{
    font-size: 5rem;
    margin-top: 30px;
}

.page_container > .left_container > p{
    padding: 0 30px;
    font-size: 1.4rem;
}

.page_container > .right_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(0, 0%, 100%);
    color: black;
    border: 0.075rem solid rgba(0, 0, 0, 0.171);
    border-radius: 6px;
}