*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --container_width: 95%;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_container{
    width: 80%;
    height: 63%;
    background: hsl(162, 92%, 32%);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
}

.page_container > .left_container, .right_container{
    height: 100%;
    flex: 1 1 50%;
    padding: 30px 10px;
}

.page_container > .left_container{
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column; 
    gap: 40px;  
}

.page_container > .left_container > h1, .page_container > .left_container > p{
    text-align: center;
    width: var(--container_width);
    color: white;
}

.page_container > .left_container > h1{
    font-size: 7rem;
}

.page_container > .left_container > p{
    font-size: 1.4rem;
}

.page_container > .right_container{
    /* background: rgb(49, 94, 218); */
    /* background: rgb(90, 204, 90); */
    display: flex;
    align-items: center;
    justify-content: center;
}