*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --page_width: 75%;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

.page_container{
    width: 100%;
}

.navbar{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: hsl(160, 92%, 32%);
}

.page_contents{
   width: var(--page_width);
   margin: 25px auto;
   /* background: green; */
}