*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --page_width: 75%;
    --left_sidebar: 250px;
    --right_sidebar: 300px;
    --content_padding: 10px;
    --image_size: 50px;
    --top_gap: 10px;
}

.contents_container > .feed{
    --bottom_height: 48px;
    flex-basis: calc(100% - var(--left_sidebar) - var(--right_sidebar));
    flex-grow: 1;
    height: 200px;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    background: hsl(0, 0%, 100%);
    border: 0.075rem solid rgba(0, 0, 0, 0.338);
    border-radius: 6px;
}

.feed > .top_container{
    width: 100%;
    flex-basis: calc(100% - var(--bottom_height));
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--top_gap);
}

.feed > .top_container > .image_container{
    flex-basis: var(--image_size);
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.feed > .top_container > .image_container > .image{
    width: var(--image_size);
    height: var(--image_size);
    border-radius: 100%;
}

.feed > .top_container > .image_container > .image > img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}


.feed > .top_container > .description{
    flex-basis: calc(100% - var(--image_size));
    height: 100%;
}

.feed > .top_container > .description > textarea{
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    resize: none;
    background: hsl(160, 20%, 90%);
    border: 0.075rem solid rgba(0, 0, 0, 0.338);
}

.feed > .bottom_container{
    --post_width: 100px;
    width: 100%;
    flex-basis: var(--bottom_height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom_container > .image_upload, .bottom_container > .post{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bottom_container > .image_upload{
    flex-basis: calc(100% - var(--post_width));
    margin-left: calc(var(--image_size) + var(--top_gap));
}

.bottom_container > .image_upload > .custom_upload_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: hsl(162, 50%, 32%);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    text-align: center;
}

.bottom_container > .image_upload > .custom_upload_button-button:hover {
    background-color: hsl(162, 50%, 36%);
    cursor: pointer;
}

.bottom_container > .post{
    flex-basis: calc(100% - var(--post_width));
    justify-content: flex-end;
}

.bottom_container > .post > button{
    padding: 2px 10px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    outline: none;
    height: 40px;
    background: hsl(162, 50%, 2%);
    color: white;
    margin-top: var(--top_margin);
}

.bottom_container > .post > button:hover{
    cursor: pointer;
    background: hsl(162, 50%, 5%);
}