{% extends 'bases/base_contents.html' %}
{% load static %}

{% block page_contents %}
    <div class="contents_container">
        <div class="left_sidebar"></div>
        <div class="feed">
            <div class="posts">
                {% for post in posts %}
                    <div class="post">
                        <div class="header">
                            <div class="photo">
                                <img src="{{ post.user.profile.image.url }}" alt="">
                            </div>
                            <div class="details">
                                <div class="names">
                                    <div class="username">@{{ post.user.username }}</div>
                                    <div class="fullnames">{{ post.user.first_name.title }} {{ post.user.last_name.title }}</div>
                                </div>
                                <div class="date_posted">{{ post.posted_at }}</div>
                            </div>
                            <div class="options">
                                {% if user == post.user %}
                                    <a href="{% url 'app_contents:delete' post.id %}">❌</a>
                                    <a href="{% url 'app_contents:update' post.id %}">✏️</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="description">
                            {{ post.description }}
                        </div>
                        <div class="image">
                            <img src="{{ post.image.url }}" alt="No Image">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pagination">
                {% if posts.has_previous %}
                    <div class="prev_and_first">
                        <a href="{% url 'app_contents:home' %}?page=1"><<</a>
                        <a href="{% url 'app_contents:home' %}?page={{ posts.previous_page_number }}"><</a>
                    </div>
                {% endif %}
                <div class="current">
                    <a href="#">{{ posts.number }}</a>
                </div>
                {% if posts.has_next %}
                    <div class="next_and_last">
                        <a href="{% url 'app_contents:home' %}?page={{ posts.next_page_number }}">></a>
                        <a href="{% url 'app_contents:home' %}?page={{ posts.paginator.num_pages }}">>></a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="right_sidebar">
            {% include 'bases/right_sidebar.html' %}
        </div>
    </div>
{% endblock page_contents %}