{% extends 'bases/base_contents.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/contents/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/bases/base_right_sidebar.css' %}">
{% endblock links %}

{% block page_contents %}
    <div class="home_container">
        <div class="left_sidebar"></div>
        <div class="feed">
            <div class="posts">
                {% for image in images %}
                    <div class="post">
                        <div class="header">
                            <div class="photo"></div>
                            <div class="details">
                                <div class="names">
                                    <div class="username">ScorpusMn</div>
                                    <div class="fullnames">Scorpus Mugnes</div>
                                </div>
                                <div class="date_posted">8 hours ago</div>
                            </div>
                            <div class="options">
                                <a href="">D</a>
                                <a href="">E</a>
                            </div>
                        </div>
                        <div class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia delectus quaerat autem cupiditate amet culpa odio! Ut ipsum, eligendi reprehenderit aperiam culpa aliquid, quos expedita voluptatum sit fugit praesentium facere.
                        </div>
                        <div class="image">
                            <img src="/media/posts/{{ image }}" alt="No Image">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pagination">
                <div class="prev_and_first">
                    <a href=""><<</a>
                    <a href=""><</a>
                </div>
                <div class="current">
                    <a href="">5</a>
                </div>
                <div class="next_and_last">
                    <a href="">></a>
                    <a href="">>>   </a>
                </div>
            </div>
        </div>
        <div class="right_sidebar">
            {% include 'bases/right_sidebar.html' %}
        </div>
    </div>
{% endblock page_contents %}