{% extends 'bases/base_contents.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/users/delete.css' %}">
{% endblock links %}

{% block page_contents %}
    <div class="delete_container">
        <div class="message_box">
            <div class="header">Lorem ipsum dolor sit amet.</div>
            <div class="options">
                <a href="">Yes</a>
                <a href="">No</a>
            </div>
        </div>
    </div>
{% endblock page_contents %}