{% extends 'bases/base_contents.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/users/delete.css' %}">
{% endblock links %}

{% block page_contents %}
    <div class="delete_container">
        <div class="message_box">
            <div class="header">{{ user.username }}, are you sure you want to delete your account.</div>
            <div class="options">
                <a href="{% url 'app_users:delete' user.username %}?perform=1">Yes</a>
                <a href="{% url 'app_users:profile' %}">No</a>
            </div>
        </div>
    </div>
{% endblock page_contents %}