{% extends 'bases/base_users.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/users/forms.css' %}">
{% endblock links %}

{% block right_container %}
    <div class="form_container">
        <div class="header">
            SIGN IN
        </div>
        <div class="form">
            {% if messages %}
                <div class="message">
                    {% for message in messages %}
                        {% if forloop.last %}
                            {{ message }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="button_holder">
                    <button type="submit">Sign In</button>
                </div>
            </form>
        </div>
        <div class="links">
            <a href="{% url 'app_users:signup' %}">Sign up for a new account</a>
        </div>
    </div>
    
{% endblock right_container %}
