{% extends 'bases/base_contents.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/users/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/users/profile.css' %}">
{% endblock links %}

{% block page_contents %}
    <div class="profile_container">
        <div class="left_container">
            <div class="details">
                <div class="photo"></div>
                <div class="info">
                    <div class="username">Username</div>
                    <div class="fullnames">Firstname Lastname</div>
                    <div class="date_joined">Joined May 2019</div>
                </div>
            </div>
            <div class="credentials">
                <div class="credentail">
                    <div class="title">Credentail Title</div>
                    <div class="value">Credentail Value</div>
                </div>
                <div class="credentail">
                    <div class="title">Credentail Title</div>
                    <div class="value">Credentail Value</div>
                </div>
                <div class="credentail">
                    <div class="title">Credentail Title</div>
                    <div class="value">Credentail Value</div>
                </div>
            </div>
            <div class="links">
                <a href="{% url 'app_users:delete' 7 %}">Delete Account</a>
            </div>
        </div>
        <div class="right_container">
            <div class="form_container">
                <div class="header">
                    UPDATE YOUR INFO
                </div>
                <div class="form">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form1 }}
                        {{ form2 }}
                        <div class="button_holder">
                            <button type="submit">Update Info</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   
{% endblock page_contents %}