{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bases/base_users.css' %}">
    {% block links %}
    {% endblock links %}
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            FLOW
        {% endif %}
    </title>
</head>
<body>
    <div class="page_container">
        <div class="left_container">
            <h1>FLOW</h1>
            <p>Join a mass of people and connect with them,
                share your world to the world and inspire others.
                Never miss on friends, family, co-wrokers, loved ones, celebrities, and leaders.</p>
        </div>
        <div class="right_container">
            {% block right_container %}
            {% endblock right_container %}
        </div>
    </div>
</body>
</html>