
.delete_container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.delete_container > .message_box{
    background: hsl(160, 92%, 32%);
    width: 40%;
    border-radius: 4px;
    padding: 10px;
}

.message_box > .header{
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.message_box > .options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 0;
}

.message_box > .options > a{
    height: 40px;
    font-size: 19px;
    color: white;
    background: hsl(160, 92%, 2%);
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}

.options > a:first-child{
    background: red;
}