
:root{
    --container_width: 80%;
    --general_height: 50px;
    --top_margin: 10px;
}

.page_container > .right_container > .form_container{
    width: var(--container_width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.form_container > .header, .form, .links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_container > .header{
    height: var(--general_height);
    font-size: 26px;
    font-weight: 550;
    color: white;
}

.form_container > .form{
    height: calc(100% - (var(--general_height) * 2));
    align-items: start;
}

.form_container > .form > form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background: gold; */
}

/* django auto-gen div for input management */
.form_container > .form > form > div{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_container > .form > form > div > .helptext{
    display: none;
}

.form_container > .form > form input, button, select{
    padding: 2px 10px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    outline: none;
    height: 40px;
}
.form_container > .form > form select{
    margin: var(--top_margin) 0;
    width: inherit;
}

.form_container > .form > form input{
    margin: var(--top_margin) 0;
    width: inherit;
}

.form_container > .form > form button{
    background: hsl(162, 50%, 2%);
    color: white;
    margin-top: var(--top_margin);
}

.form_container > .form > form button:hover{
    cursor: pointer;
    background: hsl(162, 50%, 5%);
}

.form_container > .links{
    height: var(--general_height);
    font-weight: 550;
}

.form_container > .links > a{
    text-decoration: none;
    color: white;
}