
:root{
    --container_width: 80%;
    --general_height: 50px;
    --top_margin: 10px;
    --form_padding: 10px;
    --django_form_div_width: 85%;
}

.page_container > .right_container > .form_container{
    width: var(--container_width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.form_container > .header, .form, .links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_container > .header{
    height: var(--general_height);
    font-size: 26px;
    font-weight: 550;
    color: white;
}

.form_container > .form{
    height: calc(100% - (var(--general_height) * 2));
    align-items: center;
    flex-direction: column;
}

.form_container > .form > .message{
    margin-top: 20px;
    padding: 0 var(--form_padding);
    color: white;
    width: var(--django_form_div_width);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.form_container > .form > form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.form_container > .form > form > .errorlist{
    list-style: none;
    width: 100%;
    width: var(--django_form_div_width);
}

.form_container > .form > form > .errorlist > li{
    color: white;
    text-align: center;
}


/* django auto-gen div for input management */
.form_container > .form > form > div{
    width: var(--django_form_div_width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form_container > .form > form > div > .errorlist {
    list-style: none;
    color: white;
    width: inherit;
}

.form_container > .form > form > div > .errorlist > li{
    width: 100%;
    padding: 0px 5px;
}

.form_container > .form > form > div > .helptext{
    display: none;
}

.form_container > .form > form input, button, select{
    padding: 2px var(--form_padding);
    font-size: 15px;
    border-radius: 4px;
    border: none;
    outline: none;
    height: 40px;
}
.form_container > .form > form select{
    margin: var(--top_margin) 0;
    width: inherit;
}

.form_container > .form > form input{
    margin: var(--top_margin) 0;
    width: inherit;
}

.form_container > .form > form button{
    background: hsl(162, 50%, 2%);
    color: white;
    margin-top: var(--top_margin);
}

.form_container > .form > form button:hover{
    cursor: pointer;
    background: hsl(162, 50%, 5%);
}

.form_container > .links{
    height: var(--general_height);
    font-weight: 550;
}

.form_container > .links > a{
    text-decoration: none;
    color: white;
}