
:root{
    --right_size: 420px;
    --circle_size: 195px;
    --input_height: 40px;
}

body{
    overflow-y: hidden;
}

.profile_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 75px);
    gap: 10px;
}

.profile_container > .left_container{
    flex-basis: calc(100% - var(--right_size));
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.left_container > .details, .credentials, .links{
    width: 80%;
}

.left_container > .details{
    flex-basis: 150px;
    margin-top: 100px;
    position: relative;
    border-radius: 4px;
    background: hsl(0, 0%, 100%);
    color: black;
    border: 0.075rem solid rgba(0, 0, 0, 0.171);
    border-radius: 6px;
}

.left_container > .details > .photo{
    width: var(--circle_size);
    height: var(--circle_size);
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    right: 100%;
    transform: translate(75%, 65%);
}

.left_container > .details > .photo > img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    border: 4px solid hsl(160, 0%, 90%);
    /* box-sizing: content-box; */
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.085);
}

.left_container > .details > .info{
    height: 100%;
    margin-left: calc(var(--circle_size) * 0.75); /* half the circle plus the quarter of it */
    padding: 5px 15px;
}

.details > .info .username{
    font-size: 40px;
    font-weight: 500;
}

.details > .info .fullnames{
    font-size: 24px;
    font-weight: 550;
}

.details > .info .date_joined{
    font-size: 16px;
    font-weight: 500;
}




.left_container > .credentials{
    margin-top: 20px;
}

.credentials > .credentail{
    height: 63px;
    margin: 5px 0;
    padding: 6px 10px;
    background: hsl(0, 0%, 100%);
    color: black;
    border: 0.075rem solid rgba(0, 0, 0, 0.171);
    border-radius: 6px;
}

.credentials > .credentail > .title{
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.credentials > .credentail > .value{
    font-size: 17px;
    color: black;
}


.left_container > .links{
    flex-basis: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left_container > .links > a{
    background: red;
    color: white;
    height: 85%;
    width: 120px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

.profile_container > .right_container{
    height: 83%;
    flex-basis: var(--right_size);
    padding: 30px 0;
    border-radius: 4px;
    background: hsl(0, 0%, 100%);
    color: black;
    border: 0.075rem solid rgba(0, 0, 0, 0.171);
    border-radius: 6px;
}

.form_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.form_container > .form > form{
    width: 80%;
    color: black
}

.form_container > .header {
    color: black
}

.form_container > .form > form input, select{
    border: 1px solid rgba(0, 0, 0, 0.492);
}

.form_container > .form > form button{
    background: hsl(162, 92%, 32%);
}

.form_container > .form > form > .custom_upload_button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    width: 200px;
    height: var(--input_height);
    margin: 10px 0;
}

.form_container > .form > form > .custom_upload_button:hover {
    background-color: hsl(105, 29%, 13%);
    cursor: pointer;
}


.form_container > .message{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 18px;
    color: black;
}
