{% extends 'bases/base_contents.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/contents/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/bases/base_right_sidebar.css' %}">
{% endblock links %}

{% block page_contents %}
    <div class="home_container">
        <div class="left_sidebar"></div>
        <div class="feed">
        </div>
        <div class="right_sidebar">
            {% include 'bases/right_sidebar.html' %}
        </div>
    </div>
{% endblock page_contents %}